*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-box{
    background: rgb(55, 230, 55);
    padding: 30px;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#bookmark-name, #bookmark-url, #add-btn{
    padding: 5px;
}

button{
    padding: 3px;
}

li{
    display: flex;
    justify-content: space-between;
}

a{
    background-color: rgb(131, 131, 178);
    display: inline;
    padding-right: 15rem;
    margin-bottom: 2px;
    padding-left: 5px;
    list-style: none;
    text-decoration: none;
}
